.container-fluid {
  padding: 1.5em;
  background-image: url("../assets/pokeball.png");
  background-size: cover 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  flex-direction: column;
  text-align: center;
}

.flex {
  display: flex;
}

.mb-0 {
  display: flex;
}

.form-control {
  margin-right: 5px;
}

img.container {
  width: 50%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
